Tennis Organizer4Web/TennisOrganizerUnitTests/TennisOrganizerUnitTests/Service References/AccountReference/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/AccountService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/AccountService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccountPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccountPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAvailability" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAvailabilityResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CreateAccount" message="tns:IAccountService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CreateAccountResponse" message="tns:IAccountService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccount" message="tns:IAccountService_GetAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountResponse" message="tns:IAccountService_GetAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountByLogin" message="tns:IAccountService_GetAccountByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountByLoginResponse" message="tns:IAccountService_GetAccountByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateAccountPassword" message="tns:IAccountService_UpdateAccountPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateAccountPasswordResponse" message="tns:IAccountService_UpdateAccountPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CheckAvailability" message="tns:IAccountService_CheckAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CheckAvailabilityResponse" message="tns:IAccountService_CheckAvailability_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByLogin">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountPassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateAccountPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAvailability">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CheckAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8001/AccountService/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>