Tennis Organizer4Web/Tennis Organizer .NET 2014/Service References/PlayerService/PlayerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/PlayerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" />
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="newPlayer" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CanPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q3:Player" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanPlayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetPlayerByIDResult" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptedNotSeenDuels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q5:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptedNotSeenDuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetAcceptedNotSeenDuelsResult" nillable="true" type="q6:ArrayOfDuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedNotSeenDuels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q7:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedNotSeenDuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetRejectedNotSeenDuelsResult" nillable="true" type="q8:ArrayOfDuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinishedNotRatedDuels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q9:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinishedNotRatedDuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetFinishedNotRatedDuelsResult" nillable="true" type="q10:ArrayOfDuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChallengingDuels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q11:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChallengingDuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetChallengingDuelsResult" nillable="true" type="q12:ArrayOfDuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q13:Player" />
        <xs:element minOccurs="0" name="duelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetOpponentByResult" nillable="true" type="q14:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q15:Player" />
        <xs:element minOccurs="0" name="gameTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ageFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ageTo" type="xs:int" />
        <xs:element minOccurs="0" name="levelFrom" type="xs:float" />
        <xs:element minOccurs="0" name="levelTo" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetOpponentsByResult" nillable="true" type="q16:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q17:Player" />
        <xs:element minOccurs="0" name="gameTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ageFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ageTo" type="xs:int" />
        <xs:element minOccurs="0" name="levelFrom" type="xs:float" />
        <xs:element minOccurs="0" name="levelTo" type="xs:float" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetOpponentsByCityResult" nillable="true" type="q18:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetTrainersResult" nillable="true" type="q19:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerStatsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerStatsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetPlayerStatsListResult" nillable="true" type="q20:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q21:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetCalendarResult" nillable="true" type="q22:ArrayOfDuelHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryOfDuels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q23:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryOfDuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetHistoryOfDuelsResult" nillable="true" type="q24:ArrayOfDuelHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q25:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMatchesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyMatchesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q26:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyMatchesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMonthlyMatchesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q27:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q28:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTopPositionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q29:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSkillLevelResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMatchDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q30:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMatchDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastMatchDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWonMatchesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q31:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWonMatchesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWonMatchesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostMatchesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="player" nillable="true" type="q32:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostMatchesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLostMatchesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>