Tennis Organizer4Web/TennisOrganizer4Web/TennisOrganizer4Web/Service References/PlayerService/PlayerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlayerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/PlayerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/PlayerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/PlayerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerService_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_CanPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:CanPlay" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_CanPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByID" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetAcceptedNotSeenDuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedNotSeenDuels" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetAcceptedNotSeenDuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedNotSeenDuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetRejectedNotSeenDuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedNotSeenDuels" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetRejectedNotSeenDuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedNotSeenDuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetFinishedNotRatedDuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedNotRatedDuels" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetFinishedNotRatedDuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedNotRatedDuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetChallengingDuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChallengingDuels" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetChallengingDuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChallengingDuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentBy" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentByResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentsBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentsBy" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentsBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentsByResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentsByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentsByCity" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetOpponentsByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpponentsByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerStatsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatsList" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetPlayerStatsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatsListResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendar" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetHistoryOfDuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryOfDuels" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetHistoryOfDuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryOfDuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetMatchesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesCount" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetMatchesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetMonthlyMatchesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthlyMatchesCount" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetMonthlyMatchesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthlyMatchesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetRank_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRank" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetTopPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopPosition" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetTopPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetSkillLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillLevel" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetSkillLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetLastMatchDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatchDate" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetLastMatchDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatchDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetWonMatchesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWonMatchesCount" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetWonMatchesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWonMatchesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetLostMatchesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLostMatchesCount" />
  </wsdl:message>
  <wsdl:message name="IPlayerService_GetLostMatchesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLostMatchesCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerService">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/AddPlayer" message="tns:IPlayerService_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/AddPlayerResponse" message="tns:IPlayerService_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/Update" message="tns:IPlayerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/UpdateResponse" message="tns:IPlayerService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/CanPlay" message="tns:IPlayerService_CanPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/CanPlayResponse" message="tns:IPlayerService_CanPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerByID" message="tns:IPlayerService_GetPlayerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerByIDResponse" message="tns:IPlayerService_GetPlayerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedNotSeenDuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetAcceptedNotSeenDuels" message="tns:IPlayerService_GetAcceptedNotSeenDuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetAcceptedNotSeenDuelsResponse" message="tns:IPlayerService_GetAcceptedNotSeenDuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedNotSeenDuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetRejectedNotSeenDuels" message="tns:IPlayerService_GetRejectedNotSeenDuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetRejectedNotSeenDuelsResponse" message="tns:IPlayerService_GetRejectedNotSeenDuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinishedNotRatedDuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetFinishedNotRatedDuels" message="tns:IPlayerService_GetFinishedNotRatedDuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetFinishedNotRatedDuelsResponse" message="tns:IPlayerService_GetFinishedNotRatedDuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChallengingDuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetChallengingDuels" message="tns:IPlayerService_GetChallengingDuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetChallengingDuelsResponse" message="tns:IPlayerService_GetChallengingDuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpponentBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentBy" message="tns:IPlayerService_GetOpponentBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentByResponse" message="tns:IPlayerService_GetOpponentBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpponentsBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentsBy" message="tns:IPlayerService_GetOpponentsBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentsByResponse" message="tns:IPlayerService_GetOpponentsBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpponentsByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentsByCity" message="tns:IPlayerService_GetOpponentsByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetOpponentsByCityResponse" message="tns:IPlayerService_GetOpponentsByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerStatsList" message="tns:IPlayerService_GetPlayerStatsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetPlayerStatsListResponse" message="tns:IPlayerService_GetPlayerStatsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetCalendar" message="tns:IPlayerService_GetCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetCalendarResponse" message="tns:IPlayerService_GetCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryOfDuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetHistoryOfDuels" message="tns:IPlayerService_GetHistoryOfDuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetHistoryOfDuelsResponse" message="tns:IPlayerService_GetHistoryOfDuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetMatchesCount" message="tns:IPlayerService_GetMatchesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetMatchesCountResponse" message="tns:IPlayerService_GetMatchesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyMatchesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetMonthlyMatchesCount" message="tns:IPlayerService_GetMonthlyMatchesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetMonthlyMatchesCountResponse" message="tns:IPlayerService_GetMonthlyMatchesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRank">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetRank" message="tns:IPlayerService_GetRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetRankResponse" message="tns:IPlayerService_GetRank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetTopPosition" message="tns:IPlayerService_GetTopPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetTopPositionResponse" message="tns:IPlayerService_GetTopPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkillLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetSkillLevel" message="tns:IPlayerService_GetSkillLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetSkillLevelResponse" message="tns:IPlayerService_GetSkillLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMatchDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetLastMatchDate" message="tns:IPlayerService_GetLastMatchDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetLastMatchDateResponse" message="tns:IPlayerService_GetLastMatchDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWonMatchesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetWonMatchesCount" message="tns:IPlayerService_GetWonMatchesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetWonMatchesCountResponse" message="tns:IPlayerService_GetWonMatchesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLostMatchesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerService/GetLostMatchesCount" message="tns:IPlayerService_GetLostMatchesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerService/GetLostMatchesCountResponse" message="tns:IPlayerService_GetLostMatchesCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayerService" type="tns:IPlayerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanPlay">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/CanPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetPlayerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedNotSeenDuels">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetAcceptedNotSeenDuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedNotSeenDuels">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetRejectedNotSeenDuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinishedNotRatedDuels">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetFinishedNotRatedDuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChallengingDuels">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetChallengingDuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpponentBy">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetOpponentBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpponentsBy">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetOpponentsBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpponentsByCity">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetOpponentsByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatsList">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetPlayerStatsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendar">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryOfDuels">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetHistoryOfDuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesCount">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetMatchesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyMatchesCount">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetMonthlyMatchesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRank">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopPosition">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetTopPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillLevel">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetSkillLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMatchDate">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetLastMatchDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWonMatchesCount">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetWonMatchesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLostMatchesCount">
      <soap:operation soapAction="http://tempuri.org/IPlayerService/GetLostMatchesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerService">
    <wsdl:port name="BasicHttpBinding_IPlayerService" binding="tns:BasicHttpBinding_IPlayerService">
      <soap:address location="http://localhost:8001/PlayerService/PlayerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>