Tennis Organizer4Web/TennisOrganizer4Web/TennisOrganizer4Web/Service References/DuelService/DuelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DuelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/DuelService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/DuelService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/DuelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuelService_ArrangeDuel_InputMessage">
    <wsdl:part name="parameters" element="tns:ArrangeDuel" />
  </wsdl:message>
  <wsdl:message name="IDuelService_ArrangeDuel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArrangeDuelResponse" />
  </wsdl:message>
  <wsdl:message name="IDuelService_GetDuelByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDuelByID" />
  </wsdl:message>
  <wsdl:message name="IDuelService_GetDuelByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDuelByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDuelService_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Rate" />
  </wsdl:message>
  <wsdl:message name="IDuelService_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateResponse" />
  </wsdl:message>
  <wsdl:message name="IDuelService_SetSeen_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSeen" />
  </wsdl:message>
  <wsdl:message name="IDuelService_SetSeen_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSeenResponse" />
  </wsdl:message>
  <wsdl:message name="IDuelService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDuelService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDuelService_MakeDecision_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeDecision" />
  </wsdl:message>
  <wsdl:message name="IDuelService_MakeDecision_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeDecisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDuelService">
    <wsdl:operation name="ArrangeDuel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/ArrangeDuel" message="tns:IDuelService_ArrangeDuel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/ArrangeDuelResponse" message="tns:IDuelService_ArrangeDuel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDuelByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/GetDuelByID" message="tns:IDuelService_GetDuelByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/GetDuelByIDResponse" message="tns:IDuelService_GetDuelByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/Rate" message="tns:IDuelService_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/RateResponse" message="tns:IDuelService_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSeen">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/SetSeen" message="tns:IDuelService_SetSeen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/SetSeenResponse" message="tns:IDuelService_SetSeen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/Delete" message="tns:IDuelService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/DeleteResponse" message="tns:IDuelService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeDecision">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuelService/MakeDecision" message="tns:IDuelService_MakeDecision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuelService/MakeDecisionResponse" message="tns:IDuelService_MakeDecision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDuelService" type="tns:IDuelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArrangeDuel">
      <soap:operation soapAction="http://tempuri.org/IDuelService/ArrangeDuel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuelByID">
      <soap:operation soapAction="http://tempuri.org/IDuelService/GetDuelByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <soap:operation soapAction="http://tempuri.org/IDuelService/Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSeen">
      <soap:operation soapAction="http://tempuri.org/IDuelService/SetSeen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDuelService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeDecision">
      <soap:operation soapAction="http://tempuri.org/IDuelService/MakeDecision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuelService">
    <wsdl:port name="BasicHttpBinding_IDuelService" binding="tns:BasicHttpBinding_IDuelService">
      <soap:address location="http://localhost:8001/DuelService/DuelService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>