Tennis Organizer4Web/TennisOrganizer4Web/TennisOrganizer4Web/Service References/DuelService/DuelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/DuelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" />
  <xs:element name="ArrangeDuel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="p1" nillable="true" type="q1:Player" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="p2" nillable="true" type="q2:Player" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrangeDuelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="ArrangeDuelResult" nillable="true" type="q3:Duel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="duelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="GetDuelByIDResult" nillable="true" type="q4:Duel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="duel" nillable="true" type="q5:Duel" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSeen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="duel" nillable="true" type="q6:Duel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSeenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="duel" nillable="true" type="q7:Duel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeDecision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TennisOrganizerServices" minOccurs="0" name="duel" nillable="true" type="q8:Duel" />
        <xs:element minOccurs="0" name="decision" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeDecisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>